:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 75%);
}

body {
  margin: 0;
  background-color: var(--background-color);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 80vw;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 10vw;
  overflow: scroll;
}

.diagonal-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #d69b9b, #3c3c90);
  transform: skewY(-26deg);
  transform-origin: top left;
  z-index: 0;
}
img {
  position: absolute;
  top: 29vh;
  margin: 7vh;
  border-radius: 10vh;
  left: 7vh;
  width: 28vw;
  height: 51vh;
}
strong{
  position: absolute;
top: 87vh;
left: 14vh;
font-size: 4vw;
transform: skewY(-1deg);
}
.main-box{
  height: 30vh;
  width: 36vw;
  border: 1px solid;
  position: absolute;
  transform: skewY(26deg);
  left: 42vw;
  top: 127vh;
  box-shadow: 1px 3px 30px 10px;
}
h3 {
  text-align: center;
  position: relative;
  top: -7vh;
  font-size: 8vh;
}
button {
  width: 12vw;
  position: relative;
  border: 1px solid transparent;
  overflow: hidden;
  height: 6vh;
  top: -1vh;
}
.time {
  position: absolute;
  height: 10vh;
  width: 20vw;
  z-index: 1;
  top: 11vh;
  left: 8vw;
  text-align: center;
  font-size: 3vw;
  top: 11vh;
}
